<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="TestWinApp.TestWinService">
        <endpoint address="http://localhost:9879" contract="TestWinApp.IWinService" binding="webHttpBinding" behaviorConfiguration="web"/>
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="TestWinApp.EnableCrossOriginResourceSharingBehavior, TestWinApp, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>